//Styling mobile first

* {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  height: 30%;
  background-color: $header-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;

  .logo-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .login-nav {
      //*Kev ändringar
      width: 30%;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-right: 10px;
      a {
        @include booktuary-font;
        color: $accent-color;
        text-decoration: none;
        font-weight: 350;
      }
    } //* slut på ändringar, flyttade a{...} inuti bara för att det ska vara konsekvent
  }

  .logo {
    //* Kev ändringar, fixar så att loggan är rimligt stor
    width: 20%;
    height: 20%;
  } //* slut på ändringar

  .nav-wrapper {
    text-align: center;
    width: 100%;
    .header-nav {
      //*Kev ändringar
      display: flex;
      justify-content: space-around;
      //* slut på kevs ändringar, gör att det finns mellanrum
      a {
        color: $accent-color;
        @include booktuary-font;
        font-size: medium;
        text-decoration: none;
        font-weight: 350;
        padding: 0px 10px;
        text-transform: capitalize;
      }
    }
  }
}

.btn {
  @include booktuary-font;
  font-weight: normal;
  font-size: medium;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid $header-color;
  border-radius: 5px;
  background-color: $accent-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 40px;
  // width: 110px;
}

.btn:hover {
  background: #b99e83;
  color: blanchedalmond;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $logo-color;
  min-height: 500px;

  // Fanny styling för innehåll startsida. Både mobil och desktop
  .start-headline {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      @include booktuary-font;
      font-size: 30px;
      font-weight: normal;
      @media screen and(min-width:500px) {
        font-size: 40px;
      }
    }
    .start-info {
      font-size: 20px;
      text-align: center;
      @media screen and (min-width: 500px) {
        margin-top: 15px;
        font-size: 25px;
      }
    }
  }

  .start-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-container {
      // height: 225px;
      // width: 180px;
      //display: flex;
      // justify-content: center;

      //align-items: center;
      //flex-direction: column;
      //gap: 25px;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 25px;
      width: 90%;
      justify-items: center;

      .img-frame {
        background: blanchedalmond;
        height: 230px;
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img-frame.category-frame {
        display: flex;
        flex-direction: column;
        height: unset;
        min-height: 230px;
        padding: 15px 0px;
      }
      .categ-title-container {
        text-transform: uppercase;
      }
      .buy-button-container {
        &.product-info-page {
          text-align: right;
        }
      }
      .select-category {
        text-decoration: none;
      }

      .book-img {
        width: 145px;
        height: 210px;
      }

      .book-title {
        margin-top: 10px;
        font-size: 20px;
      }

      .category-price {
        font-size: large;
        font-style: oblique;
        //margin-bottom: 10px;
      }
      .product {
        display: flex;
        flex-direction: column;
        max-width: min-content;
        &.book-page {
          flex-direction: row;
          background-color: white;
          padding: 15px;
          border-radius: 5px;
          margin-bottom: 10px;
          max-width: 400px;
          @media screen and (max-width: 410px) {
            flex-direction: column;
          }
        }
        .title-container {
          padding-bottom: 15px;
          @media screen and (max-width: 410px) {
            padding-bottom: 5px;
          }
        }
      }
      .text-container-product-page {
        padding: 0px 15px;
        .book-title {
          margin: unset;
        }
        @media screen and (max-width: 410px) {
          padding: 10px 0px 0px 0px;
          margin-top: 10px;
          border-top: 1px solid black;
        }
      }
      .product-info-container {
        display: flex;
        flex-direction: column;
      }
      .more-info {
        margin-bottom: 10px;
      }
      div a {
        color: black;
      }
    }
  }

  // //* Kev styling för login sida, work in progress... behåller denna bortkommenterad än så länge
  // .login-box{
  //   margin-top: 30px;
  //   width: 380px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  //   .username, .password{
  //     font-size: 18px;
  //     height: auto;
  //     padding: 11px 45px 12px 40px;
  //     border-radius: 3px;
  //     border: none;

  //     // @include inputfield-styling;
  //   }
  //   .login-button{
  //     font-size: 16px;
  //     font-weight: 700;
  //     height: 48px;
  //     margin-bottom: 16px;
  //     width: 82%;
  //   }
  // }
}

.main-footer {
  background: #7e4b34;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  text-align: center;

  div i.fa-brands {
    font-size: 25px;
  }

  .footer-column-right .social-media-icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  h2,
  p,
  .footer-copyright-text {
    color: $accent-color;
    @include booktuary-font;
    font-weight: 300;
  }
}

.fa-brands {
  color: blanchedalmond;
}

.fa-solid {
  color: blanchedalmond;
}

@media screen and (max-width: 500px) {
  .main-footer {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .logo {
    width: 40%;
    height: auto;
  }
  .logo-link-wrapper .login-nav .hidden {
    //* Kev, testar med hidden klassen så att texten försvinner i mobile format
    display: none;
  }
}
