//Fanny styling checkout form

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;

  .checkout-h2 {
    @include booktuary-font;
    margin: 3% 0 5% 0;
  }

  .checkout-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: small;

    .checkout-input {
      @include inputfield-styling;
      margin-bottom: 5%;
    }

    .checkout-form-btn {
      margin-top: 10%;
      align-self: center;
    }
    p {
      text-align: center;
      align-self: center;
    }
  }

  .checkout-p-div {
    margin: 10% 0;
    align-self: center;
    display: flex;
    justify-content: center;
  }
}

//hazem kvitto styling

.receipt-container {
  padding: 25px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  .sub-text-container {
    margin-bottom: 5px;
  }
  .receipt-title {
    margin-bottom: 10px;
  }
  .order-details-container {
    margin-bottom: 15px;
  }

  .titles-container {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
  }
  .total-price-container {
    text-align: right;
    margin-top: 25px;
  }
}
.book,
.shipping-container {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-gap: 25px;
  margin-bottom: 7px;
}
.book p.cart-author {
  text-align: left;
}
.hide-item {
  display: none;
}
.cart-container {
  margin-bottom: 20px;
}
#totalContainer p.total-p {
  text-align: right;
}
