.cart-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cart-h2{
        @include booktuary-font;
       margin: 10% 0 10% 0;
      }
      .cart-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: blanchedalmond;
        height: 60%;
        width: 150%;
      .cart-products-wrapper{
       margin-top: 5%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         .cart-img{
             width: 35%;
             position: relative;
             right: 20%;
             }
           .cart-price{
               position: relative;
               left: 20%;
           }
             .cart-inner-wrapper{
                 width: 40%;
               
             .item-div{
                display: flex;
                flex-direction: row;
                .cart-btn{
                    @include booktuary-font;
                    font-weight: normal;
                    font-size: medium;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid $header-color;
                    border-radius: 5px;
                    background-color: $accent-color;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                   padding: 0 10%;
                   height: 0%;
                   margin: 5%;
                   
                }
                .cart-btn:hover{
                    background: #b99e83;
                    color: blanchedalmond;
                }
            }
         }
      }
      .total-p{
          margin: 5%;
          position: relative;
          left: 15%;
      }
    }
    .cart-checkout-btn{
        margin-top: 5%;
    }
}