$header-color: #131313;
$accent-color: #e5c7ab;
$light-color: blanchedalmond;
$footer-color: #7e4b34;
$accent-yellow: #f4cd84;
$logo-color: #e7bd70;
$lighter-color: hsl(0, 5%, 24%);


//Mixins
@mixin booktuary-font {
  font-family: "Josefin Sans", sans-serif;
}
//@include booktuary-font;

@mixin inputfield-styling {
  border-radius: 3px;
  border: none;
  height: 1.3rem;
}
//@include inputfield-styling;

@mixin flex-column {
  display: flex; 
  flex-direction: column;
}
//@include flex-column;
