$header-color: #131313;
$accent-color: #e5c7ab;
$footer-color: #9b5151;
$accent-yellow: #f4cd84;
$logo-color: #e7bd70;
$lighter-color: hsl(0, 5%, 24%);

//Mixins

@mixin main-font {
  font-family: "Shippori Mincho B1", serif;
}
//@include main-font;

@mixin booktuary-font {
  font-family: "Josefin Sans", sans-serif;
}
//@include booktuary-font;
