@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Shippori+Mincho+B1&display=swap");
* {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  height: 30%;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.main-header .logo-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-header .logo-link-wrapper a {
  font-family: "Josefin Sans", sans-serif;
  color: #e5c7ab;
  text-decoration: none;
  font-weight: 350;
}

.main-header .logo {
  width: 30%;
  height: auto;
}

.main-header .nav-wrapper {
  text-align: center;
  width: 100%;
}

.main-header .nav-wrapper .header-nav a {
  color: #e5c7ab;
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  text-decoration: none;
  font-weight: 350;
  padding: 0px 10px;
}

.btn {
  font-family: "Shippori Mincho B1", serif;
  font-weight: bold;
  font-size: x-small;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid #131313;
  border-radius: 5px;
  background-color: #e5c7ab;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: #b99e83;
  color: blanchedalmond;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e7bd70;
}

main .start-headline {
  border: solid 1px black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .start-headline h1 {
  font-family: "Josefin Sans", sans-serif;
}

main .start-content {
  width: 100%;
  border: solid 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .start-content .product-container {
  height: 200px;
  width: 40%;
  border: solid 1px black;
  background: blanchedalmond;
}

main .start-content .product-container .category-price {
  font-size: large;
  font-style: oblique;
}

.main-footer {
  background: #7e4b34;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  text-align: center;
}
.main-footer div i.fa-brands {
  font-size: 25px;
}
.main-footer .footer-column-right .social-media-icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main-footer h3,
.main-footer h2 {
  color: #e5c7ab;
}

.fa-brands {
  color: white;
}

.fa-solid {
  color: white;
}
/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 500px) {
  .main-footer {
    flex-direction: column-reverse;
    gap: 25px;
  }
}
