@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Shippori+Mincho+B1&display=swap");
* {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  height: 30%;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.main-header .logo-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-header .logo-link-wrapper .logo {
  width: 20%;
  height: 20%;
}

.main-header .logo-link-wrapper .login-nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 10px;
}

.main-header .logo-link-wrapper .login-nav a {
  font-family: "Josefin Sans", sans-serif;
  color: #e5c7ab;
  text-decoration: none;
  font-weight: 350;
}

.main-header .logo-link-wrapper .login-nav a i {
  margin: 0px 10px;
}

.main-header .nav-wrapper {
  text-align: center;
  width: 100%;
}

.main-header .nav-wrapper .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-header .nav-wrapper .header-nav a {
  color: #e5c7ab;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 350;
  padding: 0px 10px;
  text-transform: capitalize;
}

.main-header .nav-wrapper .header-nav a:hover {
  color: aliceblue;
  text-decoration: underline;
}

.btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: medium;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid #131313;
  border-radius: 5px;
  background-color: #e5c7ab;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 40px;
}

.btn:hover {
  background: #b99e83;
  color: blanchedalmond;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #e7bd70;
  min-height: 635px;
}

main .start-headline {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .start-headline h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
}

@media screen and (min-width: 500px) {
  main .start-headline h1 {
    font-size: 40px;
  }
}

main .start-headline .start-info {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  main .start-headline .start-info {
    margin-top: 15px;
    font-size: 25px;
  }
}

main .filter-section {
  display: none;
  width: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .filter-section.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .start-content {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .start-content .product-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
  width: 90%;
  justify-items: center;
}

main .start-content .product-container .img-frame {
  background: blanchedalmond;
  height: 230px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .start-content .product-container .img-frame.category-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: unset;
  min-height: 230px;
  padding: 15px 0px;
}

main .start-content .product-container .categ-title-container {
  padding: 0px 17px;
  text-transform: uppercase;
}

main .start-content .product-container .categ-title-container .categ-desc {
  text-transform: capitalize;
}

main .start-content .product-container .buy-button-container.product-info-page {
  text-align: right;
}

main .start-content .product-container .select-category {
  text-decoration: none;
}

main .start-content .product-container .book-img {
  width: 145px;
  height: 210px;
}

main .start-content .product-container .book-title {
  margin-top: 10px;
  font-size: large;
}

main .start-content .product-container .category-price {
  font-size: large;
  font-weight: lighter;
  font-style: oblique;
}

main .start-content .product-container .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

main .start-content .product-container .product .book-author {
  font-size: medium;
  font-weight: lighter;
}

main .start-content .product-container .product.book-page {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: blanchedalmond;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 400px;
}

@media screen and (max-width: 410px) {
  main .start-content .product-container .product.book-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .start-content .product-container .product .title-container {
  padding-bottom: 15px;
}

@media screen and (max-width: 410px) {
  main .start-content .product-container .product .title-container {
    padding-bottom: 5px;
  }
}

main .start-content .product-container .product.visible-categ {
  visibility: visible;
}

main .start-content .product-container .product.hidden-categ {
  display: none;
}

main .start-content .product-container .text-container-product-page {
  padding: 0px 15px;
}

main .start-content .product-container .text-container-product-page .book-title {
  margin: unset;
}

@media screen and (max-width: 410px) {
  main .start-content .product-container .text-container-product-page {
    padding: 10px 0px 0px 0px;
    margin-top: 10px;
    border-top: 1px solid black;
  }
}

main .start-content .product-container .product-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .start-content .product-container .more-info {
  margin-bottom: 10px;
}

main .start-content .product-container div a {
  color: black;
}

.main-footer {
  background: #7e4b34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 25px;
  text-align: center;
}

.main-footer div i.fa-brands {
  font-size: 25px;
}

.main-footer .footer-column-right .social-media-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.main-footer h2,
.main-footer p,
.main-footer .footer-copyright-text {
  color: #e5c7ab;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.fa-brands {
  color: blanchedalmond;
}

.fa-solid {
  color: blanchedalmond;
}

@media screen and (max-width: 500px) {
  .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 25px;
  }
  .logo {
    width: 50%;
    height: 50%;
  }
  .logo-link-wrapper .login-nav .hidden {
    display: none;
  }
}

.welcome-user {
  color: #e5c7ab;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.form-wrapper h2 {
  font-family: "Josefin Sans", sans-serif;
  margin: 5% 0%;
}

.form-wrapper .userform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  font-size: small;
}

.form-wrapper .userform .input-field {
  border-radius: 3px;
  border: none;
  height: 1.3rem;
}

.form-wrapper .userform label {
  margin-top: 5%;
}

.form-wrapper .userform .labelTerms {
  font-size: xx-small;
}

.form-wrapper .userform .create.btn {
  margin: 8% 0%;
}

.form-wrapper .userform p {
  margin-top: 3%;
}

main .login-box, main .login-form {
  margin-top: 30px;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .login-box label, main .login-box h2, main .login-form label, main .login-form h2 {
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
}

main .login-box a, main .login-box p, main .login-form a, main .login-form p {
  display: inline-block;
}

main .login-box .username, main .login-box .password, main .login-form .username, main .login-form .password {
  font-size: 18px;
  height: auto;
  padding: 11px 45px 12px 40px;
  border-radius: 3px;
  border: none;
}

main .login-box .login-button, main .login-form .login-button {
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 82%;
}

.checkout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.checkout-wrapper .checkout-h2 {
  font-family: "Josefin Sans", sans-serif;
  margin: 3% 0 5% 0;
}

.checkout-wrapper .checkout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  font-size: small;
}

.checkout-wrapper .checkout-form .checkout-input {
  border-radius: 3px;
  border: none;
  height: 1.3rem;
  margin-bottom: 5%;
}

.checkout-wrapper .checkout-form .checkout-form-btn {
  margin-top: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkout-wrapper .checkout-form p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkout-wrapper .checkout-p-div {
  margin: 10% 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.receipt-container {
  padding: 25px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
}

.receipt-container .sub-text-container {
  margin-bottom: 5px;
}

.receipt-container .receipt-title {
  margin-bottom: 10px;
}

.receipt-container .order-details-container {
  margin-bottom: 15px;
}

.receipt-container .titles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.1fr;
      grid-template-columns: 1fr 0.1fr;
}

.receipt-container .total-price-container {
  text-align: right;
  margin-top: 25px;
}

.book,
.shipping-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.1fr;
      grid-template-columns: 1fr 0.1fr;
  grid-gap: 25px;
  margin-bottom: 7px;
}

.book p.cart-author {
  text-align: left;
}

.hide-item {
  display: none;
}

.cart-container {
  margin-bottom: 20px;
}

#totalContainer p.total-p {
  text-align: right;
}

.cart-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-section .cart-h2 {
  font-family: "Josefin Sans", sans-serif;
  margin: 10% 0 10% 0;
}

.cart-section .cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blanchedalmond;
  height: 50%;
  width: 100%;
}

.cart-section .cart-wrapper .cart-products-wrapper {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35%;
  position: relative;
  margin: 2%;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-price {
  padding-top: 18%;
  padding-right: 2%;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-inner-wrapper {
  width: 40%;
  margin-top: 2%;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-inner-wrapper h4 {
  font-size: larger;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-inner-wrapper .item-div {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-inner-wrapper .item-div .cart-btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: medium;
  outline: none;
  cursor: pointer;
  border: 1px solid #131313;
  border-radius: 5px;
  background-color: #e5c7ab;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 0 6%;
  height: 0%;
  margin: 5%;
}

.cart-section .cart-wrapper .cart-products-wrapper .cart-inner-wrapper .item-div .cart-btn:hover {
  background: #b99e83;
  color: blanchedalmond;
}

.cart-section .cart-checkout-btn {
  margin: 5% 0;
}

.checkout-container {
  text-align: center;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */